@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap');
@import "tailwindcss";
@plugin "daisyui/index.js";

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
html { scroll-behavior: smooth; }